/* p{
    color: blue;
   background-color :red;
   text-align: center;
}

.p {
    color:green;
    background-color: aquamarine;
}
#jk{
    font-size: 25px;
} */
 /* p{
    color: blue;
   background-color :red;
   text-align: center;
}

.p {
    color:green;
    background-color: aquamarine;
}
#jk{
    font-size: 25px;
} */



 /* p {
    color: blueviolet;
 }

 #S {
    color: black;
 }

 div {
    width: 200px;
    height: 400px;
    margin: 100px;
    padding: 20px;
    border: 5px solid pink;
 }

 .red {
    background-color: red;
 }


 .blue {
    background-color: aqua;
 }


 .yellow{
   background-color: yellow;
 }


 .green{
   background-color: greenyellow;
 } */

 div{
    height: 130px;
    width: 1200px;
    padding:10px;
    margin: 50px;
    border: 3px solid black;
 }
 h1 {
     color: purple;
     text-align: center;
 }

 p {
     font-size: 25px;
     color:red;
 }